body {
}
.cards {
  font-size: 20px;
}
table {
  backdrop-filter: blur(4px);
  margin-top: 17%;
  border-spacing: 20px;

}
td:hover {
  background-color: khaki;
  border-radius: 10%;
  transform: scale(1.1);
}
tr {
  height: 70px;

}
p {
  color: black;
}
td {
  height: 20%;
  width: 20%;
  background-color: antiquewhite;
  border-radius: 10%;
  padding: 20px;
}
.cardsimg {
    width: 100px;
    height: 90px;
}